{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="col-12 col-md-11 col-xl-10 py-md-3 pl-md-5 bd-content m-5 align-items-center" role="main">
    <div class="col-12 col-md-3 col-xl-12">
        <form class="bd-search d-flex align-items-center">        
        </form>
        <nav class=" bd-links">
          <div class="bd-toc-item active">
            <br>
            <form id="choosecust" method='post'>{% csrf_token %}
              <label for="customerdata"> العميل</label>
              <br>
          
              <select class="form-select form-select-sm" name="customerdata" id="customerdata" >
                {% for i in ofloans %}
                <option value="{{i.id}}" >{{i.client_name}}</option>
                {% endfor %}
              </select>
        
              <input id="get-cus-data" type="submit" class="btn btn-primary " style="margin-right: 15%; margin-top: 5%;" value="عرض"> 
            </form>
          </div>
  
        </nav>
        
      </div>
    <div class="d-flex flex-row text-break form-group col-md-4" style="width:100%;" >
        
        <div  class=" d-flex flex-row justify-content-start align-items-center text-nowrap" style="width:100%;"  >
            <h4 style="margin-left: 5px;"> اضافة التعليقات </h4>
            <span class="d-flex p-2 ml-2 mb-2" style="border-radius: 30px; border: 1px solid rgb(224, 80, 19);">
                <p class="m-0" style="color: rgb(231, 135, 25); font-size: 0.9rem;"> 
                    بعد انهاء جميع بيانات النموزج يتم الضغط علي حفظ </p>
                </span>
            <div style="border: solid; border-radius: 30px; border: 2px solid rgb(23, 5, 106); background-color: rgb(131, 159, 229); margin-right: 2%; ">
                <input type="checkbox" id="rad1" name="fav_language" value="{{o.loan_key}}">
                <label for="rad1" class="checkbox-inline" >لم يتم التواصل </label><br>
            </div >
            <div id="rado" style="display:none; margin-right: 2%; " >
            
                <select class="form-select form-select-sm" name="rad11" id="rad11">
                    <option value="" selected disabled hidden>Choose here</option>
                    {% for s in com %}
                    <option value="{{s.id}}">{{s.id}}</option>
                    {% endfor %}
                    
                </select>
                <input style="border:15%" type="text" class="form-control" name="rad12">
                
            </div>
        </div>
    
       

    </div>
    <form  method="post">{% csrf_token %}
        
        <div class="border border-danger" style="margin-top:10px;border: 5px;border-radius:15px;margin-right:5%;background-color: rgb(194, 222, 240); padding: 15px; border: 1px solid rgb(229, 229, 229); width: 100%;">
            <div id="showdata" style="padding: 20px; box-sizing: border-box;">
                <div  class="form-colum d-flex text-break form-group col-md-4 " style="width: 100%;">
                    <div class="d-flex flex-column text-break form-group col-md-4 align-items-start">
                        <label class="form-label" style=" box-sizing: border-box; color: rgb(0, 0, 0); text-align: center; font-weight: bold;">الإسم</label>
                        <label id="client_name" class="form-label" style="text-align: center; font-weight: bold;">{{o.client_name}}</label>


                    </div>

                    <div class="d-flex flex-column text-break form-group col-md-4">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">كود العميل</label>
                        <label id="client_key" class="form-label" style="text-align: center; font-weight: bold;">{{o.client_key}} </label>

                    </div>

                    <div class="d-flex flex-column text-break form-group col-md-4">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">الفرع</label>
                        <label id="branch_name" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.branch_name}} </label>

                    </div>

                </div>
                
                <div class="border mt-5 mb-5" style="background-color: black;"></div>
                <div class="form-colum d-flex text-break form-group col-md-4 " style="width: 100%;">
                    <div class="d-flex flex-column text-break form-group col-md-4 align-items-start">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">الرقم القومي</label>
                        <label id="id" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.id}} </label>

                    </div>
                    <div class="border mt-5 mb-5" style="background-color: black;"></div>

                    <div class="d-flex flex-column text-break form-group col-md-4">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">رقم الهاتف</label>
                        <label id="tel4" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.tel4}} </label>

                    </div>
                    <div class="border mt-5 mb-5" style="background-color: black;"></div>
                    <div class="d-flex flex-column text-break form-group col-md-4">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">الموظف</label>
                        <label id="officer_name" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.officer_name}} </label>
 
                    </div>
                    <div class="border mt-5 mb-5" style="background-color: black;"></div>
                </div>
                <div class="border mt-5 mb-5" style="background-color: black;"></div>
                <div class="form-colum d-flex text-break form-group col-md-4 " style="width: 100%;">
                    <div class="d-flex flex-column text-break form-group col-md-4 align-items-start">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">الحد الأتماني الممنوح</label>
                        <label id="consumer_finance_initial_limit" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.consumer_finance_initial_limit}} </label>
                        <div class="border mt-5 mb-5" style="background-color: black;"></div>

                    </div>
                    <div class="d-flex flex-column text-break form-group col-md-4 align-items-start">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">الدخل</label>
                        <label id="aprv_am" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.aprv_am}} </label>
                        <div class="border mt-5 mb-5" style="background-color: black;"></div>

                    </div>

                </div>
                <div class="border mt-5 mb-5" style="background-color: black;"></div>
                <div class="border mt-5 mb-5" style="background-color: black;"></div>

                <div class="form-colum d-flex text-break form-group col-md-4 " style="width: 100%;">
                    <div class="d-flex flex-column text-break form-group col-md-4">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">تاريخ القرض</label>
                        <label id="loan_date" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.loan_date}} </label>

                    </div>
                    <div class="border mt-5 mb-5" style="background-color: black;"></div>
                    <div class="d-flex flex-column text-break form-group col-md-4">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">عدد الأقساط</label>
                        <label id="aprv_no" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.aprv_no}} </label>

                    </div>
                    <div class="d-flex flex-column text-break form-group col-md-4">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">سعر المنتج</label>
                        <label id="loan_am" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.loan_am}} </label>

                    </div>
                    <div class="border mt-5 mb-5" style="background-color: black;"></div>
                </div>
                <div class="border mt-5 mb-5" style="background-color: black;"></div>

                <div class="border mt-5 mb-5" style="background-color: black;"></div>
                <div class="form-colum d-flex text-break form-group col-md-4 " style="width: 100%;">
                    <div class="d-flex flex-column text-break form-group col-md-4 align-items-start">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">قيمة القسط</label>
                        <label id="inst" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.inst}} </label>


                    </div>
                    <div class="border mt-5 mb-5" style="background-color: black;"></div>

                    <div class="d-flex flex-column text-break form-group col-md-4">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">التاجر</label>
                        <label id="client_name_m" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.client_name_m}} </label>


                    </div>
                    <div class="border mt-5 mb-5" style="background-color: black;"></div>
                    <div class="d-flex flex-column text-break form-group col-md-4">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">فأة المنتج</label>
                        <label id="category_name" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.category_name}} </label>


                    </div>
                    <div class="border mt-5 mb-5" style="background-color: black;"></div>
                </div>
                <div class="border mt-5 mb-5" style="background-color: black;"></div>
                <div class="form-colum d-flex text-break form-group col-md-4 " style="width: 100%;">
                    <div class="d-flex flex-column text-break form-group col-md-4 align-items-start">
                        <label class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">المنتج</label>
                        <label id="sub_category_name" class="form-label" style="color:rgb(0, 0, 0); text-align: center; font-weight: bold ;">{{o.sub_category_name}} </label>
                    </div>
                    <div class="border mt-5 mb-5" style="background-color: black;"></div>
                </div>
            </div>

        </div>
        <div class=" w-100 mt-4 overflow-auto" style="padding-right:8% ; ">
            <div class="d-flex flex-column align-items-start justify-content-center">
                <table class="text-left table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>كود العميل</th>
                            <th>الإسم</th>
                            <th>الرقم القومي</th>
                            <th>المنطقة</th>
                            <th>رقم التليفون</th>
                        </tr>
                    </thead>
                    <tbody>
  
                        <tr>
                          <td>ضامن</td>
                          <td id="client_keyd">{{z.client_key}}</td>
                          <td id="client_named" class="text-break" style="min-width: 150px;">{{z.client_name}}</td>
                          <td id="ntid">{{z.id}}</td>
                          <td id="add4d" style="color: black;">{{z.add4}}</td>
                          <td id="tel4d">{{z.tel4}}</td>
                      </tr>
                      <tr>
                        <td>ضامن</td>
                        <td id="client_keydd">{{z.client_key}}</td>
                        <td id="client_namedd" class="text-break" style="min-width: 150px;">{{z.client_name}}</td>
                        <td id="ntidd">{{z.id}}</td>
                        <td id="add4dd" style="color: black;">{{z.add4}}</td>
                        <td id="tel4dd">{{z.tel4}}</td>
                    </tr>
      
                    </tbody>
                </table>
            </div>
        </div>
        <input id="submitting" type="button" class="btn border border-dark" style="background-color: darkseagreen;margin-right: 50%;width:10%;" value="حفظ"> 

    </form>
    <br>
    <br>

</main>
{% block scripts %}
<script type="text/javascript" src= "{% static 'js/customerdata.js' %}" ></script>
{% endblock scripts %}


{% endblock content %}